name: Build Dolphin (libretro) on macOS

on: [push, pull_request]

env:
  core_id: dolphin_libretro

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: "macOS x64"
          os: macos-latest
          ZIP_NAME_SUFFIX: macos_x64
    steps:
    - name: Install dependencies
      run: |
        brew update
        brew install cmake \
          mbedtls zlib

    - name: Checkout Dolphin (libretro) repo
      uses: actions/checkout@v6
      with:
        path: ${{ env.core_id }}
        submodules: recursive

    - name: Configure
      run: |
        cd ${{ env.core_id }}
        mkdir -p build && cd build
        cmake .. \
          -DLIBRETRO=ON \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/install

    - name: Build
      run: |
        cd ${{ env.core_id }}/build
        make -j$(sysctl -n hw.ncpu)
